/* font-family: 'Montserrat', sans-serif; */

/* font-family: 'Raleway', sans-serif; */

/* font-family: 'Reenie Beanie', cursive; */

:root {
    --base-title-font: 'Raleway', sans-serif;
    --base-body-font: 'Montserrat', sans-serif;
    --title-font: 'Reenie Beanie', cursive;
    --dark: #0F044C;
    --medium: #141E61;
    --mediumLight: #787A91;
    --light: #EEEEEE;
}

body {
    font-family: var(--base-body-font, 'Montserrat', sans-serif);
    overflow-x: hidden;
}

header {
    height: 50px;
    background-color: var(--light, #EEEEEE);
}

.container-fluid {
    padding: 0!important;
}

/************************** Sections ****************************/

section {
    min-height: 100vh;
    background-color: #0F044C;
}

h1, h2, h4, h5 {
    color: var(--light, #EEEEEE);
    font-family: var(--base-title-font, 'Raleway', sans-serif);
}

h3{
    color: var(--light, #EEEEEE);
    font-family: var(--title-font, 'Reenie Beanie', cursive);
    font-size: 5rem!important;
    padding: 5vh;
}

p{
    color: var(--light, #EEEEEE);
    width: 69%;
    margin: 0 auto;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: var(--light, #EEEEEE);
}

.bg-custom{
    background-color: var(--dark, #0F044C);
}

/************************** Navigation ****************************/

.navbar-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.nav-item{
    padding: 0 120px 0 120px;
}

/********************************* Filtre pour image ***********************************/

.filtre {
    position: relative;
}

h1{
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: 10;
    color: #fff;
}

h2{
    position: absolute;
    top: 45%;
    left: 30%;
    z-index: 10;
    color: #fff;
}


.filtre::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

/********************************* Connaissances Passe-temps ***********************************/

h4{
    font-size: 32px;
}

.caract{
    color: var(--light, #EEEEEE);
    font-family: var(--base-title-font, 'Raleway', sans-serif);
    font-size: 22px;
    list-style-type: none;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover, .nine:hover,
.un:hover, .deux:hover, .trois:hover, .quatre:hover, .cinq:hover, .sixx:hover, .sept:hover, .huit:hover, .neuf:hover  {
    transform: translateX(45px);
    transition: ease 0.3s all;
 }

.center {
    text-align: center;
}

/************************** Section Caroussel ****************************/

.carousel .carousel-item img{
    height: 100vh;
    object-fit: cover;
}

/************************** Section Parallax ****************************/

.parallax {
    background-image: url("../img/plume1500.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/**************************** Flore ******************************************/

#contact {
    background-image: url("../img/floreM.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/**************************** LinkedIn et Courriel ***************************/

.link {
   padding: 10px;
}

.mail {
    padding: 10px; 
}

/**************************** Animations *************************************/

.animName {
    animation: effet 8s linear forwards;
}

.animT {
    animation: translateT 15s linear 0.2s infinite;
}

.animR{
    animation: translateR 15s linear 0.2s infinite;
}

@keyframes effet {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    55% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    60% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes translateT {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(1500px);
    }
}
@keyframes translateR {
    0% {
        transform: translateX(1500px);
    }
    100% {
        transform: translateX(-200px);
    }
}

/*************************************** @media ************************************/

@media screen and (max-width: 768px) {

    .animT {
        animation: translateT 10s linear 0.2s infinite;
    }
    
    @keyframes translateT {
        0% {
            transform: translateX(-150px);
        }
        100% {
            transform: translateX(250px);
        }
    }

    .animR{
        animation: translateR 10s linear 0.2s infinite;
    }

    @keyframes translateR {
        0% {
            transform: translateX(250px);
        }
        100% {
            transform: translateX(-150px);
        }
    }

    h3 {
        font-size: 3rem!important;
    }

    h1, h2 {
        font-size: 16px;
    }

    h4 {
        font-size: 1.5rem!important;
    }

    body{
        overflow-x: hidden;
    }

    #contact, #apropos {
        min-height: 25vh;
    }

}
