/* 
font-family: 'Birthstone Bounce', cursive;
font-family: 'Montserrat', sans-serif;

Couleurs:
dark-pink   #f23d47
light-pink  #f4898f
black       #000000
white       #ffffff
*/

:root {
    --dark-pink: #f23d47;
    --light-pink: #f4898f;
    --black: #000000;
    --white: #ffffff;
    --gradient-black: linear-gradient(180deg, #000000, #000000de, #00000000);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 21px;
    background-color: var(--black);
    color: var(--white);
}

main {
    margin-top: 12vh;
    overflow-x: hidden;
}

.container-timeline {
    padding: 0 2rem 0 2rem;
}

div .qui-suis-je {
    background-color: var(--dark-pink);
    padding: 1.25rem;
    border-radius: 2.5rem;
    margin-top: 20rem;
}

.img-formation, .img-experiences {
    width: 70px;
}

/************************* Styles typographique *************************/

.text-script {
    font-family: 'Birthstone Bounce', cursive;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 5rem;
    color: var(--light-pink);
    text-transform: none;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
    color: var(--dark-pink);
}

h2 {
    font-size: 1.5rem;
    line-height: 2.6rem;
    font-weight: 300;
    color: var(--dark-pink);
    text-transform: uppercase;
}

.section-connaissances h2, .interets h2 {
    color: var(--black);
    font-family: 'Birthstone Bounce', cursive;
    text-transform: none;
    font-size: 3rem;
    margin-bottom: 4rem;
    z-index: 1;
}

.section-connaissances h2 {
    color: var(--light-pink);
    margin-bottom: 1.25rem;
}

h3 {
    color: var(--light-pink);
    font-weight: 200;
    font-size: 1.25rem;
}

h4 {
    font-size: 0.9rem;
    font-weight: 200;
    color: var(--light-pink);
}

.qui-suis-je h2 {
    color: var(--black);
    font-size: 2rem;
}

.section-hero h1 {
    text-transform: uppercase;
    font-size: 2.3rem;
    margin-top: 2rem;
}

.balise-graph {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.big-accolade {
    font-size: 10rem;
    line-height: 10rem;
    font-weight: 100;
    padding-bottom: 4vh;
    color: var(--dark-pink);
}

/* Navigation */

.navbar {
    background: var(--gradient-black);
}

.navbar a {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.navbar-nav {
    flex-direction: column;
}

.navbar-dark .navbar-toggler {
    border: none;
    height: 5vh;
}

.offcanvas-body {
    overflow-y: auto;
}

.offcanvas {
    background-color: var(--light-pink);
    flex-direction: row;
}

.offcanvas-header {
    align-items: flex-start;
    padding-top: 2rem;
}

.offcanvas-end {
    top: 0;
    right: 0;
    width: 250px;
    height: 350px;
    padding-top: 0.5rem;
    border-radius: 0 0 0 50px;
    border-left: none;
    transform: translateX(100%);
}

.dropend .dropdown-menu[data-bs-popper] {
    display: inline-flex;
    padding: 0;
}

.dropdown-menu {
    min-width: 4rem;
    background-color: #ffffff00;
    border: none;
}

.dropdown-menu a, nav .btn:hover {
    color: var(--black);
}

.btn-group, .btn-group-vertical {
    display: block;
}

.dropdown-toggle {
    padding: 0;
}

.split-btn {
    padding: 0 1rem 0 1rem;
}

.dropdown-menu a:hover, nav .btn {
    color: var(--white);
}

.btn-contact-fix {
    position: fixed;
    bottom: 3vh;
    right: 5vw;
    background-color: var(--white);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    z-index: 10;
    transition: width 0.5s, height 0.5s, box-shadow 0.5s;
}

.btn-contact-fix:hover {
    position: fixed;
    box-shadow: 0px 0px 6px 4px var(--black);
    background-color: var(--light-pink);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    z-index: 10;
    transition: width 0.5s, height 0.5s, box-shadow 0.5s;
}

.btn-linkedin-fix {
    position: fixed;
    bottom: 11vh;
    right: 5vw;
    background-color: var(--white);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    z-index: 10;
    transition: width 0.5s, height 0.5s, box-shadow 0.5s;
}

.btn-linkedin-fix:hover {
    position: fixed;
    box-shadow: 0px 0px 6px 4px var(--black);
    background-color: var(--light-pink);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    z-index: 10;
    transition: width 0.5s, height 0.5s, box-shadow 0.5s;
}

.btn-linkedin-fix a {
    color: var(--dark-pink);
    width: 50px;
}

/* Groupe photo Maryse Thomassin */

.group-photomt {
    position: relative;
    height: 38vh;
    margin: 2vh 0 2vh 0;
}

.photo-maryse {
    position: absolute;
    z-index: 0;
}

.forme-ondule {
    position: absolute;
    z-index: -1;
}

/* Section présentation */

.presentation-section {
    position: relative;
}

/******************************* Section connaissances ********************************/

.separateur {
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 0 1rem 0 1rem;
}

.section-connaissances {
    background-image: url(/tp1_06/images/illustration-connaissances.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 90%;
    min-height: 50vh;
}

.section-connaissances h3 {
    font-size: 1.5rem;
}

.liste-connaissances {
    position: absolute;
    opacity: 0%;
    padding: 0;
}

.big-accolade-mask {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 100;
    color: var(--dark-pink);
}

.groupe-anim-connaissance {
    position: relative;
}

/************************* animation connaissances *************************/

#anim-connaissances-01 {
    -moz-animation: anim-connaissances-01 15s linear infinite;
    -webkit-animation: anim-connaissances-01 15s linear infinite;
    animation: anim-connaissances-01 15s linear infinite;
}

@keyframes anim-connaissances-01 {
    0% {
        opacity: 0%;
    }
    5%, 20% {
        opacity: 100%;
    }
    25% {
        opacity: 0%;
    }
}

#anim-connaissances-02 {
    -moz-animation: anim-connaissances-02 15s linear infinite;
    -webkit-animation: anim-connaissances-02 15s linear infinite;
    animation: anim-connaissances-02 15s linear infinite;
}

@keyframes anim-connaissances-02 {
    25% {
        opacity: 0%;
    }
    30%, 45% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}

#anim-connaissances-03 {
    -moz-animation: anim-connaissances-03 15s linear infinite;
    -webkit-animation: anim-connaissances-03 15s linear infinite;
    animation: anim-connaissances-03 15s linear infinite;
}

@keyframes anim-connaissances-03 {
    50% {
        opacity: 0%;
    }
    55%, 70% {
        opacity: 100%;
    }
    75% {
        opacity: 0%;
    }
}

#anim-connaissances-04 {
    -moz-animation: anim-connaissances-04 15s linear infinite;
    -webkit-animation: anim-connaissances-04 15s linear infinite;
    animation: anim-connaissances-04 15s linear infinite;
}

@keyframes anim-connaissances-04 {
    75% {
        opacity: 0%;
    }
    80%, 95% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

/* ligne du temps */

.ligne-temps {
    border-left: 4px solid var(--dark-pink);
    border-image: linear-gradient( to bottom, #f23d4600, #f23d47, #f23d47, #f23d4600) 1 100%;
    height: 110vh;
}

.container-timeline {
    height: 110vh;
}

.timeline-experience {
    height: 20vh;
}

.timeline-annee {
    height: 20vh;
    padding-top: 1.5rem;
}

.big-accolade-closed {
    font-size: 8rem;
    line-height: 8rem;
    font-weight: 100;
    color: var(--dark-pink);
    text-align: center;
    padding: 0 0 2vh 0;
}

aside h4, aside p {
    margin: 0;
    padding: 0 0 0 0;
}

/* Ensemble logo et qualites */

.ensemble-qualites {
    height: 80%;
    z-index: -10;
}

.logo-qualites, .qualites {
    position: absolute;
    padding: 0 2rem 0 2rem;
}

/* animation ensemble qualités */

#anim-qualites {
    -moz-animation: anim-qualites 50s linear infinite;
    -webkit-animation: anim-qualites 50s linear infinite;
    animation: anim-qualites 50s linear infinite;
}

@keyframes anim-qualites {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Section intérêts */

.interets {
    position: relative;
    background-color: var(--dark-pink);
    padding: 4vh 0 4vh 0;
}

.interets p {
    margin-bottom: 1.5rem;
}

.courbe-titres {
    position: absolute;
    right: -5vw;
    top: 12vh;
    z-index: 0;
}

.section-interets-arts-1 h2, .section-interets-arts-2 h2 {
    margin-right: 0rem;
    line-height: 1.5rem;
}

.section-interets-arts-1 {
    background-image: url(/tp1_06/images/toile-foret-enchantee-oeuvre-MaryseThomassin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 30vh;
}

.section-interets-arts-2 {
    background-image: url(/tp1_06/images/toile_hibou_Maryse_thomassin.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    background-position-x: center;
}

.fond-degrade {
    background: var(--gradient-black);
    padding-top: 0.8rem;
    height: 15vh;
}

.btn-contact {
    background-color: var(--light-pink);
    border-radius: 50px;
    width: 60px;
    height: 60px;
}

footer {
    height: 10vh;
    padding: 2rem 0 2rem 0;
}

footer p{
    font-size: 0.7rem ;
}

@media (min-height: 600px), (max-height:800px) {
    .group-photomt{
        height: 44vh;
    }
}

/********************************************* Small devices (landscape phones, 576px and up) *********************************************/

@media (min-width: 576px) {
    body {
        font-size: 16px;
        line-height: 24px;
    }
    .text-script {
        font-size: 2.75rem;
    }
 
    div .qui-suis-je {
        padding: 2rem;
    }
    .section-connaissances h2, .interets h2 {
        text-transform: none;
        font-size: 3rem;
        margin-bottom: 4rem;
    }

    .section-connaissances h2{
        margin-bottom: 2rem;
    }

    .section-connaissances h3 {
        font-size: 1.8rem;
    }

    .section-connaissances {
        background-position: right;
        background-size: 50%;
        min-height: 50vh;
    }

    .big-accolade-mask {
        font-size: 8rem;
        line-height: 10rem;
    }

    .big-accolade-closed {
        font-size: 8rem;
        line-height: 10rem;
    }
    div .qui-suis-je {
        padding: 2rem;
        border-radius: 2.5rem;
    }
    .qui-suis-je h2 {
        font-size: 2.8rem;
    }
    .presentation-section {
        position: relative;
    }

    .timeline-annee {
        height: 20vh;
    }
    .separateur {
        margin-top: 6vh;
        margin-bottom: 6vh;
    }
    .courbe-titres {
        position: absolute;
        right: -2vw;
        top: 12vh;
        z-index: 0;
    }

    .interets p {
        font-size: 1.25rem;
        line-height: 2.25rem;
        margin-bottom: 4rem;
    }
    .fond-degrade {
        padding-top: 2rem;
        height: 15vh;
    }
    .section-interets-arts-1 h2, .section-interets-arts-2 h2 {
        margin-right: 2rem;
    }
    .section-interets-arts-1 {
        background-attachment: fixed;
        background-position-x: center;
        height: 70vh;
    }
    .section-interets-arts-2 {
        background-attachment: fixed;
        height: 70vh;
        background-position-x: center;
    }
}

/********************************************* Medium devices (tablets, 768px and up) *********************************************/

@media (min-width: 768px) {
    /* Navigation */
    .navbar-nav {
        flex-direction: row;
    }
    .navbar a {
        font-size: 1rem;
    }
    .offcanvas {
        flex-direction: row;
    }
    .offcanvas-header {
        align-items: center;
        padding-top: 1rem;
    }
    .offcanvas-end {
        top: 0;
        right: 0;
        width: 1000px;
        height: 70px;
        border-radius: 0 0 0 50px;
        border-left: none;
        transform: translateX(100%);
    }
    .dropend .dropdown-menu[data-bs-popper] {
        display: inline-flex;
    }
    .dropdown-menu {
        min-width: 4rem;
        border: none;
    }
    .dropdown-toggle {
        padding: 0.4rem;
    }
    .split-btn {
        padding: 0 1rem 0 1rem;
    }

    .btn-contact-fix {
        bottom: 5vh;
        right: 3vw;
        width: 50px;
        height: 50px;
    }

    .btn-linkedin-fix {
        bottom: 13vh;
        right: 3vw;
        width: 50px;
        height: 50px;
    }

    .btn-contact-fix:hover, .btn-linkedin-fix:hover{
        width: 60px;
        height: 60px;
    }

    .btn-contact-fix:hover, .btn-linkedin-fix:hover {
        width:50px;
        height:50px;
    }
    /* Styles typographique */
    .text-script {
        font-size: 4rem;
        line-height: 6rem;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
        line-height: 3.6rem;
    }

    h4 {
        font-size: 1.15rem;
    }

    .section-hero h1 {
        font-size: 2.5rem;
    }
    .balise-graph {
        font-size: 2.5rem;
    }

    .big-accolade-mask {
        font-size: 9rem;
        line-height: 10rem;
    }

    .big-accolade-closed {
        font-size: 8rem;
        line-height: 10rem;
    }

        /* Ensemble logo et qualites */
        .ensemble-qualites {
            height: 80%;
            left: -5vw;
            z-index: -10;
        }
        .logo-qualites, .qualites {
            position: absolute;
            left: -5vw;
        }

        .section-connaissances h3 {
            font-size: 1.9rem;
        }

    .section-connaissances h2, .interets h2 {
        font-size: 3rem;
        margin-bottom: 8rem;
        z-index: 1;
    }
    .section-connaissances h2 {
        margin-bottom: 2rem;
    }

    .section-connaissances {
        background-size: 70%;
    }
    
}

/********************************************* Media queries Large devices (desktops, 992px and up)*********************************************/

@media (min-width: 992px) {
    section {
        height: 100vh;
    }
    .text-script {
        font-size: 5.5rem;
        line-height: 8.25rem;
    }
    h1 {
        font-size: 3.5rem;
        font-weight: 400;
    }
    h2 {
        font-size: 3rem;
        line-height: 3.6rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    .section-hero h1 {
        font-size: 3.5rem;
    }
    .balise-graph {
        font-size: 3.5rem;
    }
    .big-accolade {
        font-size: 12rem;
        line-height: 20rem;
        padding-bottom: 6vh;
    }

    .group-photomt {
        height: 38vh;
    }
    .section-connaissances h2, .interets h2 {
        font-size: 4rem;
        margin-bottom: 5rem;
        z-index: 1;
    }
    .section-connaissances h2 {
        margin-bottom: 2rem;
    }

    .section-connaissances h3 {
        font-size: 2.5rem;
    }

  .big-accolade-mask {
        font-size: 10rem;
        line-height: 10rem;
    }

    .interets {
        padding: 8vh 0 0 0;
    }
}

/********************************************* X-Large devices (large desktops, 1200px and up) *********************************************/

@media (min-width: 1200px) {
    .text-script {
        font-size: 6rem;
        line-height: 10rem;
    }
    h1 {
        font-size: 5rem;
    }
 
    h3 {
        font-size: 2rem;
    }
    .section-hero h1 {
        font-size: 5rem;
    }
    .balise-graph {
        font-size: 4rem;
    }
    .big-accolade {
        font-size: 15rem;
        line-height: 20rem;
        padding-bottom: 6vh;
    }
    .group-photomt {
        height: 45vh;
    }
    .section-connaissances h2, .interets h2 {
        font-size: 5rem;
        margin-bottom: 4rem;
    }
    .section-connaissances h2 {
        margin-bottom: 2rem;
    }

    .section-interets-arts-1, .section-interets-arts-2{
        height: 90vh;
    }
}

/********************************************* XX-Large devices (larger desktops, 1400px and up) *********************************************/

@media (min-width: 1400px) {
    .text-script {
        font-size: 8rem;
        line-height: 12rem;
    }
    h1 {
        font-size: 5rem;
    }
   
    .balise-graph {
        font-size: 4rem;
    }
    .big-accolade {
        font-size: 15rem;
        line-height: 20rem;
        padding-bottom: 6vh;
    }
    .group-photomt {
        height: 45vh;
    }
    .section-connaissances h2, .interets h2 {
        font-size: 6rem;
        margin-bottom: 8rem;
    }
    .section-connaissances h2 {
        margin-bottom: 2rem;
    }
}