/* 
font-family: 'Birthstone Bounce', cursive;
font-family: 'Montserrat', sans-serif;

Couleurs:
dark-pink   #f23d47
light-pink  #f4898f
black       #000000
white       #ffffff
*/

:root {
    --dark-pink: #f23d47;
    --light-pink: #f4898f;
    --black: #000000;
    --white: #ffffff;
    --gradient-black: linear-gradient(180deg, #000000,#000000de,#00000000);
}


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: var(--black);
    color: var(--white);
}

main {
    margin-top: 12vh;
}

section{
    height: 100vh;
}

article{
    background-color: var(--dark-pink);
    padding: 2rem;
border-radius: 2.5rem;
}

/* Styles typographique */
.text-script{
    font-family: 'Birthstone Bounce', cursive;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 5rem;
    color: var(--light-pink);
    text-transform:none;
    text-align: center;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
    color: var(--dark-pink);
}

h2{
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 300;
    color: var(--dark-pink);
    text-transform: uppercase;
}

h3{
    color: var(--light-pink);
    font-weight: 200;
    font-size: 1.5rem;
}

article h2{
    color: var(--black);
}

.section-hero h1{
    text-transform: uppercase;
    font-size: 2.3rem;
}

.balise-graph{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.big-accolade{
    font-size: 10rem;
    line-height: 10rem;
    font-weight: 100;
    padding-bottom: 4vh;
    color: var(--dark-pink);
}


/* Navigation */
.navbar{
    background: var(--gradient-black);
}

.navbar-nav {
    flex-direction: row;
}

.navbar-dark .navbar-toggler{
    border: none;
    height: 5vh;
}
.offcanvas-body{
    overflow-y: auto;
}

.offcanvas {
    background-color: var(--light-pink);
    flex-direction: row;
}

.offcanvas-end {
    top: 0;
    right: 0;
    width: 800px;
    height: 70px;
    border-radius: 0 0 0 50px;
    border-left: none;
    transform: translateX(100%);
}

.offcanvas-backdrop.fade {
    display: none;
}



/* Groupe photo Maryse Thomassin */

.group-photomt{
    position: relative;
    height:38vh;

    margin: 2vh 0 2vh 0;
}
.photo-maryse{
    position: absolute;
    z-index: 0;
}

.forme-ondule{
    position: absolute;
    z-index: -1;
}

/* Section présentation */
.presentation-section{
    position: relative;

}

/* Ensemble logo et qualites */
.ensemble-qualites{
    position: absolute;
    width: 80%;
    height: 80%;
    z-index: -10;
}

.logo-qualites, .qualites{
    position: absolute;
    width: 50%;
    height: 100%;
}

/* animation ensemble qualités */
#anim-qualites {
    -moz-animation: anim-qualites 50s linear infinite;
    -webkit-animation: anim-qualites 50s linear infinite;
    animation: anim-qualites 50s linear infinite;
  }
  
  @keyframes anim-qualites {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* Styles typographique */
.text-script{
    font-size: 4rem;
    line-height: 6rem;
}
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
    line-height: 3.6rem;
}

.section-hero h1{
    font-size: 2.5rem;
}

.balise-graph{
    font-size: 2.5rem;
}



}

  /* Media queries Large devices (desktops, 992px and up)*/

  @media (min-width: 992px) {
    .text-script{
        font-size: 5.5rem;
        line-height: 8.25rem;
    }
    h1{
        font-size: 3.5rem;
        font-weight: 400;
    }
    
    h2{
        font-size: 3rem;
        line-height: 3.6rem;
    }
    
    h3{
        font-size: 1.7rem;
    }
    
    article h2{
        color: var(--black);
    }
    
    .section-hero h1{
        font-size: 3.5rem;
    }
    
    .balise-graph{
        font-size: 3.5rem;
    }
    
    .big-accolade{
        font-size: 12rem;
        line-height: 20rem;
        padding-bottom: 6vh;
    }
    .group-photomt{
        height:38vh;
    }
    
   }

   /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .text-script{
        font-size: 6rem;
        line-height: 10rem;
    }
    h1{
        font-size: 5rem;
    }
    
    h2{
        font-size: 3rem;
        line-height: 3.6rem;
        }
    
    h3{
        font-size: 2rem;
    }
    
    article h2{
        color: var(--black);
    }
    
    .section-hero h1{
        font-size: 4.5rem;
    }
    
    .balise-graph{
        font-size: 4rem;
    }
    
    .big-accolade{
        font-size: 15rem;
        line-height: 20rem;
        padding-bottom: 6vh;
    }

    .group-photomt{
        height:45vh;
    }
    
}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
    .text-script{
        font-size: 8rem;
        line-height: 12rem;
    }
    h1{
        font-size: 5rem;
    }
    
    h2{
        font-size: 3rem;
        line-height: 3.6rem;
        }
    
    h3{
        font-size: 2rem;
    }
    
    article h2{
        color: var(--black);
    }
    
    .section-hero h1{
        font-size: 4.5rem;
    }
    
    .balise-graph{
        font-size: 4rem;
    }
    
    .big-accolade{
        font-size: 15rem;
        line-height: 20rem;
        padding-bottom: 6vh;
    }

    .group-photomt{
        height:45vh;
    }
}