* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    margin: 0;
    padding: 0;
 
    }
  
body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #020202;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}


.container-nav{
  width: 100vh;
  height: 300px;

}


.navbar-brand{
 padding-left: 800px;
 padding-top: 400px;


}





#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #a7a6a6;
  
  transition: color 0.3s ease;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -15px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: rgb(75, 51, 63);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #a7a6a6;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 400px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;
  
  background: rgb(75, 51, 63);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 20px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
  header {
    position: fixed;
    padding: 4rem 2rem 0 2rem;
    margin-left: 4rem;
  }
  

  

  
  
  .container {
    padding-left: 13%;
    max-width: 90%;
  }
  
  .container-hero {
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    font-size:30px;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 400px;
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    opacity: 0.4;
  }
  
  .container-moi {
    width: 100%;
<<<<<<< HEAD
    height: 100vh;
=======
    height: 700px;
>>>>>>> parent of 2315b7f2b (parcours)
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .container-moi img {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
  }
  
  h1 {
    text-align: center;
    color:rgb(75, 51, 63);
    font-size: 100px;
    font-size: "Roboto Mono", monospace;
    padding-top: 100px;
    padding-left: 100px;
    z-index: 1;
  }
  
  h2 {
    text-align: left;
    color:rgb(75, 51, 63);
    font-size: 36px;
    font-size: "Roboto Mono", monospace;
    padding-left: 100px;
  }
  
  p {
    text-align: left;
    color: honeydew;
    padding-top: 40px;
    padding-left: 100px;
  }
  
  .col-6 {
    width: 50%;
  }
  
  a {
    color: darkgrey;
    text-decoration: none;
  }
  
  .container-carousel{
  
 width:100%;
 height:400px;
 padding-top: 100px;
 padding-bottom: 100px;

  }
  
  /*****************************parallax************************/
  #parallax-image{

  background-image: url(./img/wireframe.jpg);
  background-repeat: no-repeat;
  height:400px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-size: 25px;

  }
  
  .grid-container img {
    width: 100%;
    height: 300px;
  }
  
  #section3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  /*****************************footer************************/

   footer p {
     color: gray;
     font-size: clamp(0.5rem, 1.5vh, 1rem);
     margin-bottom: 0.5rem;
   }
   
   .coordenes {
     text-align: center;
     border-left: 2px solid rgb(167, 168, 167);
     border-right:2px solid  rgb(167, 168, 167);
     padding-right: 20px;
   }
   
   .infos-footer {
    
     display: flex;
     align-items: center;
     padding-bottom: 2rem;
     color:grey;
   }
   
   
   
   .bi-facebook, .bi-instagram, .bi-youtube{
    color:gray;
   }
  .container-footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:250px;
    color:grey;
    text-align: center;
    font-size:18px;
    padding-top: 100px;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    background-color: rgb(75, 51, 63);
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    margin-left: auto;
    margin-left: auto;
  }
  
  .ul li a {
    list-style: none;
  }
  
  
  
 
  

  
  @media (max-width: 768px) {
    header {
      position: fixed;
      border-radius: 0 0 100% 100%;
      background-position: top;
      margin-left: 0;
      padding: 1rem;
    }
  
    .col-4 {
      width: 100%;
    }
  
    .col-6 {
      width: 50%;
    }
  
    nav {
      flex-direction: row;
      justify-content: space-around;
    }

  

    .container-moi img{
      width:250px;
      max-height: 250px;
      align-content: center;

    }

    .overlay{
      font-size: 15px;
      width: 100vh;
    }
  }
  