/**************
Charte des couleurs:

Bleu de base: #A6D8D6;
Bleu foncé: #003B55;
Vert foncé: #013E30;

***************/

/***************
Règle CSS de la famille de caractères:
font-family: 'Poppins', sans-serif;
****************/



html {
    font-size: 18px; /*1 em*/
    overflow-x: hidden;
}


Body {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #003B55;
}

header {
    position: relative;
    background-size: cover;
    background-position: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* display: flex; */
    min-height: 100vh;
    background-color: #A6D8D6;
    min-width: 100vw;
    padding-bottom: 1rem;
}

.titre-tp1_09 {
    position: absolute;
    top: 0;
    left: 365px;
    padding: 26px 24px 0 34px;
    z-index: 120;
    background-color: rgba(255, 255, 255, 0.7);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #013E30;
    line-height: 1;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #003B55;
}

h3 {
    text-transform: uppercase;
}


nav {
    position: fixed;
    left: 0;
    background-color: #003B55;
    color: #A6D8D6;
    min-height: 100vh;
    width: 365px;
    z-index: 10;
    padding-right: 2rem;
}

#navibar_Acc8 {
    position: relative;
    width: 301px;
    height: 41px;
    margin: 2rem;
}


#navibar_Acc8 a {
    position: absolute;
    top: 0;
    left: 0;
    color: #A6D8D6;
    text-decoration: none;
    /* position: relative; */
}


/* Règles CSS pour l'icône animée du menu hamburger */

.barre1_Acc8, .barre2_Acc8, .barre3_Acc8 {
    width: 35px;
    height: 3px !important;
    background-color: #A6D8D6;
    margin: 8px 0;
    transition: 0.4s;
  }

  #items_services_Acc8_1 {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s   ease-out;
  }

  #sujets_Acc8_1 {
	position: relative;
	z-index: 999;
	width: auto;
    /* padding: 0; */
	/* margin: 0; */
	max-height: 0;
    overflow: hidden;
	transition: max-height 0.3s ease-out;
}

  
  .changement_Acc8 .barre1_Acc8 {
    -webkit-transform:         rotate(-45deg) translate(-9px, 6px);
    -moz-transform:         rotate(-45deg) translate(-9px, 6px);
    -o-transform:         rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .changement_Acc8 .barre2_Acc8 { opacity: 0;
  }
  
  .changement_Acc8 .barre3_Acc8 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -moz-transform: rotate(45deg) translate(-8px, -8px);
    -o-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  #menu_icone_Acc8_1 {
      display: inline-block;
      cursor: pointer;
      margin: 0px 12px 0px;
      background-color: transparent;
      width: 35px;
      float: right;
      border: none !important;
      outline: none !important; 
  }

#sous_menu_Acc8_1.ferme_Acc8::after {
	content:'\002B';
    cursor: pointer;
	color: #A6D8D6;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 22px !important;
	font-weight: 700 !important;
	float: right;
	margin-left: 5px;
	padding-right: 12px;
}

#sous_menu_Acc8_1.ouvert_Acc8::after {
	content:'\2212';
    cursor: pointer;
	color: #A6D8D6;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px !important;
	font-weight: 700 !important;
	float: right;
	margin-left: 5px;
	padding-right: 12px;
}


#items_services_Acc8_2 {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  #sous_menu_Acc8_2.ferme_Acc8_2::after {
	content:'\002B';
    cursor: pointer;
	color: #A6D8D6;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 22px !important;
	font-weight: 700 !important;
	float: right;
	margin-left: 5px;
	padding-right: 12px;
}

#sous_menu_Acc8_2.ouvert_Acc8_2::after {
	content:'\2212';
    cursor: pointer;
	color: #A6D8D6;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px !important;
	font-weight: 700 !important;
	float: right;
	margin-left: 5px;
	padding-right: 12px;
}  

#items_services_Acc8_2 .nav-item-2 a {
    text-decoration: none !important;
    color: #A6D8D6 !important;
}

#items_services_Acc8_2 .nav-item-2{
    padding: 12px 0;
    border-bottom: 1px solid #A6D8D6;
}



nav ul {
    list-style-type: none;
}

nav #items_services_Acc8_1, #items_services_Acc8_2 {
    padding-left: 0;
}

nav ul li {
    font-size: 1.222rem;
    width: 301px;
    border-bottom: 1px solid #A6D8D6;
    padding: 12px 0;
}

li a {
    text-decoration: none;
    color: #A6D8D6;
}

div a {
    text-decoration: none;
    color: #A6D8D6;
}

div a:hover {
    color: #A6D8D6;
}

li a:hover {
    color:#A6D8D6;
}

li.nav-item-1 {
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 0;
}



/* Image hero du fond en CSS grid */

.image-accueil {
    display: grid;
    margin: 0;
    padding: 0;
    grid-gap: 0px 0px;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20vh);
    grid-auto-flow: row;
}

.quadrille:first-child {
    grid-column: span 5;
    grid-row: span 5;
    background-size: cover;
    background-position: center;
}

.quadrille:first-child img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

/* Section-1: Parcours et Expérience de travail */


#section-1, #section-2 {
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    background-color:#A6D8D6;
}

.grid-textes {
    display: grid;
    margin: 0 1vw 0 395px;
    padding: 4px 4px;
    grid-gap: 20px 30px;
    grid-template-columns: repeat(6, 16%);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: row;
    background-color: transparent;
}


.item-texte:first-child {
    grid-column: span 3;
    grid-row: span 1;
    margin: 0 0 4rem;
}

.item-texte:nth-child(2) {
    grid-column: span 3;
    grid-row: span 1;
    padding-right: 120px;
}

.item-texte:nth-child(3) {
    grid-column: span 3;
    grid-row: span 1;
}

.item-texte:nth-child(4) {
    grid-column: span 2;
    grid-row: span 1;
}

.item-texte:nth-child(5) {
    grid-column: span 3;
    grid-row: span 1;
}

.item-texte:nth-child(6) {
    grid-column: span 2;
    grid-row: span 1;
}

.item-texte:nth-child(7) {
    grid-column: span 3;
    grid-row: span 1;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #003B55;
}

.intro-1 {
    margin: 3.5rem 0 0;
}

.item-texte ul {
    padding: 0;
}

h4 {
    font-size: 1.2rem;
    font-weight: 700;
}

.libel-1 {
    margin: 23px 0 6px;
}

h5 {
    font-size: 1rem;
    margin: 4px 0 0;
}

li.contenu-t {
    font-size: 1rem;
    font-weight: 500;
    list-style-type: upper-latin;
}

/* Section du portfolio avec CSS grid */

#section-3 {
    background-color: #A6D8D6;
    position: relative;
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    padding-bottom: 1rem;
}

.grid-titres {
    display: grid;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(2, 3.5rem);
    grid-gap: 4px 4px;
    margin: 0 0 0 375px;
}

.grid-contenant {
    display: grid;
    /* margin: 0 78px 0 375px; */
    margin: 0 1vw 0 375px;
    padding: 4px 4px;
    grid-gap: 4px 4px;
    grid-template-columns: repeat(5, 19.6%);
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: row;
    background-color: #FFF;
}   

.item-grille:first-child {
    grid-column: span 2;
    grid-row: span 2;
    background-size: cover;
    background-position: center;
}

.item-grille:first-child img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(2) {
    grid-column: span 1;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(2) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(3) {
    grid-column: span 2;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(3) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(4) {
    grid-column: span 2;
    grid-row: 3 / span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(4) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(5) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(6) {
    grid-column: span 1;
    grid-row: span 2;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(6) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(7) {
    grid-column: span 1;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(7) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(8) {
    grid-column: 3 / span 1;
    grid-row: span 2;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(8) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(9) {
    grid-column: span 2;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(9) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(10) {
    grid-column: span 2;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(10) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(11) {
    grid-column: 5 /span 1;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(11) img {
    width: 100%;
    height: auto;
}


/* Media queries pour la version mobile du site */

@media (max-width: 576px) {


    header {
        position: relative;
        /* background-size: cover; */
        /* background-position: center; */
        min-height: 100vh;
        background-color: #A6D8D6;
        color: #003B55;
        min-width: 100vw;
        padding-bottom: 1rem;
    }  
    
    .titre-tp1_09 {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100vw;
        padding: 26px 24px 0 1rem;
        z-index: 3;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 3rem;
        font-weight: 700;
        color: #013E30;
        line-height: 1;
    }
    
    h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.75rem;
        font-weight: 500;
        color: #003B55;
    }
    
nav {
    position: relative;
    background-color: transparent;
    color: #003B55;
    width: 100%;
    padding-right: 0;
}

#navibar_Acc8 {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    margin: 0;
    background-color: #003B55;
    color: #A6D8D6;
    z-index: 999;
}


#navibar_Acc8 a {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    color: #A6D8D6;
    text-decoration: none;
    position: relative;
}

#menu_icone_Acc8_1 {
    margin: 0.5rem 1rem 0px;
}



#sujets_Acc8_1 {
	position: fixed;
    top: 60px;
	width: 100vw;
    color: #003B55;
    background-color: #FFF;
	max-height: 0;
    overflow: hidden;
	transition: max-height 0.3s ease-out;
}


nav ul {
    width: 100vw;
}

nav ul li {
    font-size: 1.222rem;
    width: 85vw;
    border-bottom: 1px solid #003B55;
    padding: 12px 0;
}

li a {
    text-decoration: none;
    color: #003B55;
}

div a {
    text-decoration: none;
    color: #003B55;
}

div a:hover {
    color: #003B55;
}

li a:hover {
    color: #003B55;
}

#sous_menu_Acc8_1.ferme_Acc8::after {
	color: #003B55;
	background-color: transparent;
}

#sous_menu_Acc8_1.ouvert_Acc8::after {
	color: #003B55;
	background-color: transparent;
}

#sous_menu_Acc8_2.ferme_Acc8_2::after {
	color: #003B55;
	background-color: transparent;
}

#sous_menu_Acc8_2.ouvert_Acc8_2::after {
	color: #003B55;
	background-color: transparent;
}

#items_services_Acc8_2 .nav-item-2 {
    padding: 12px 0;
    border-bottom: 1px solid #003B55;
}

#items_services_Acc8_2 .nav-item-2 a {
    text-decoration: none !important;
    color: #003B55 !important;
}

/* Media queries mobile pour l'image-hero de la section accueil */

.image-accueil {
    display: grid;
    margin: 0;
    padding: 0;
    grid-gap: 0px 0px;
    grid-template-columns: repeat(1, 100vw);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: row;
}

.quadrille:first-child {
    grid-column: span 1;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.quadrille:first-child img {
    width: 100vw;
    height: auto;
    background-size: cover;
    background-position: center;
}

/* Media queries Mobile pour les colonnes-textes des sections 1 et 2 */


.grid-textes {
    display: grid;
    margin: 0 1vw;
    padding: 4px 4px;
    grid-gap: 20px 0;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: row;
    background-color: transparent;
}


.item-texte:first-child {
    grid-column: span 1;
    grid-row: span 1;
    margin: 0 0 4rem;
}

.item-texte:nth-child(2) {
    grid-column: span 1;
    grid-row: span 1;
    padding-right: 0;
}

.item-texte:nth-child(3) {
    grid-column: span 1;
    grid-row: span 1;
}

.item-texte:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
}

.item-texte:nth-child(5) {
    grid-column: span 1;
    grid-row: span 1;
}

.item-texte:nth-child(6) {
    grid-column: span 1;
    grid-row: span 1;
}

.item-texte:nth-child(7) {
    grid-column: span 1;
    grid-row: span 1;
}



/* Media queries pour la section du portfolio avec CSS grid */


#section-3 {
    background-color: #A6D8D6;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-bottom: 1rem;
}


.grid-titres {
    display: grid;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(2, auto);
    grid-gap: 4px 4px;
    padding: 0 0 0 8px;
    margin: 0;
}


.grid-contenant {
    display: grid;
    margin: 1rem 0 0;
    padding-bottom: 120px;
    grid-gap: 0 0;
    padding: 0 0;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(11, auto);
    grid-auto-flow: row;
    background-color: #FFF;
}   

.item-grille:first-child, .item-grille:nth-child(2), .item-grille:nth-child(3), 
.item-grille:nth-child(4), .item-grille:nth-child(5), .item-grille:nth-child(6),
.item-grille:nth-child(7), .item-grille:nth-child(8), .item-grille:nth-child(9),
.item-grille:nth-child(10), .item-grille:nth-child(11) {
    grid-column: span 1;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:first-child img, .item-grille:nth-child(2) img, .item-grille:nth-child(3) img, 
.item-grille:nth-child(4) img, .item-grille:nth-child(5) img, .item-grille:nth-child(6) img,
.item-grille:nth-child(7) img, .item-grille:nth-child(8) img, .item-grille:nth-child(9) img,
.item-grille:nth-child(10) img, .item-grille:nth-child(11) img {
    width: 100vw;
    height: auto;
}



}