/**************
Charte des couleurs:

Bleu de base: #A6D8D6;
Bleu foncé: #003B55;
Vert foncé: #013E30;

***************/

/***************
Règle CSS de la famille de caractères:
font-family: 'Poppins', sans-serif;
****************/



html {
    font-size: 18px; /*1 em*/
    overflow-x: hidden;
}


Body {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #003B55;
}

header {
    position: relative;
    /* background-image: url(../img_09/hero-image.svg); */
    background-size: cover;
    background-position: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    background-color: #A6D8D6;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    /* padding: 24px 0 12px 36px; */
    color: #013E30;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    /* padding: 24px 0 12px 36px; */
    color: #003B55;
}


nav {
    position: fixed;
    left: 0;
    background-color: #003B55;
    color: #A6D8D6;
    min-height: 100vh;
    width: 365px;
    z-index: 10;
    padding-right: 2rem;
}

#nav-top {
    position: relative;
    width: 301px;
    margin: 2rem;
}


#nav-top a {
    position: absolute;
    top: 0;
    left: 0;
    color: #A6D8D6;
    text-decoration: none;
    position: relative;
    bottom: 8px;
}


/* Règles CSS pour l'icône animée du menu hamburger */

.barre1, .barre2, .barre3 {
    width: 35px;
    height: 3px !important;
    background-color: #A6D8D6;
    margin: 8px 0;
    transition: 0.4s;
  }
  
  .changement_tp1_09 .barre1 {
    -webkit-transform:         rotate(-45deg) translate(-9px, 6px);
    -moz-transform:         rotate(-45deg) translate(-9px, 6px);
    -o-transform:         rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .changement_tp1_09 .barre2 { opacity: 0;
  }
  
  .changement_tp1_09 .barre3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -moz-transform: rotate(45deg) translate(-8px, -8px);
    -o-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  #menu_icone_tp1_09 {
      display: inline-block;
      cursor: pointer;
      margin: 12px 12px 0px;
      background-color: transparent;
      width: 35px;
      border: none !important;
      outline: none !important; 
  }

nav ul {
    list-style-type: none;
}

nav ul#acc-1, ul#acc-2 {
    padding-left: 0;
}

nav ul li {
    font-size: 1.222rem;
    width: 301px;
    border-bottom: 1px solid #A6D8D6;
    padding: 12px 0;
}

li a {
    text-decoration: none;
    color: #A6D8D6;
}

li a:hover {
    color:#A6D8D6;
}

li.nav-item-1 {
    font-size: 1rem;
    padding: 12px 0;
}


/* Section-1: Parcours et Expérience de travail */


#section-1, #section-2 {
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    background-color:#A6D8D6;
}

.grid-textes {
    display: grid;
    margin: 0 1vw 0 375px;
    padding: 4px 4px;
    grid-gap: 20px 30px;
    grid-template-columns: repeat(6, 16%);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: row;
    background-color: transparent;
}


.item-texte:first-child {
    grid-column: span 3;
    grid-row: span 1;
    /* background-size: cover; */
    /* background-position: center; */
}

.item-texte:nth-child(2) {
    grid-column: span 2;
    grid-row: span 1;
}

.item-texte:nth-child(3) {
    grid-column: span 3;
    grid-row: span 1;
}

.item-texte:nth-child(4) {
    grid-column: span 2;
    grid-row: span 1;
}

.item-texte:nth-child(5) {
    grid-column: span 3;
    grid-row: span 1;
}

.item-texte:nth-child(6) {
    grid-column: span 2;
    grid-row: span 1;
}

.item-texte:nth-child(7) {
    grid-column: span 3;
    grid-row: span 1;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #003B55;
}

/* Section du portfolio avec CSS grid */

#section-3 {
    background-color: #A6D8D6;
    position: relative;
    background-size: cover;
    background-position: center;
    min-width: 100vh;
    padding-bottom: 1rem;
}

.grid-titres {
    display: grid;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(2, 3.5rem);
    grid-gap: 4px 4px;
    margin: 0 0 0 375px;
}

.grid-contenant {
    display: grid;
    /* margin: 0 78px 0 375px; */
    margin: 0 1vw 0 375px;
    padding: 4px 4px;
    grid-gap: 4px 4px;
    grid-template-columns: repeat(5, 19.6%);
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: row;
    background-color: #FFF;
}   

.item-grille:first-child {
    grid-column: span 2;
    grid-row: span 2;
    background-size: cover;
    background-position: center;
}

.item-grille:first-child img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(2) {
    grid-column: span 1;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(2) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(3) {
    grid-column: span 2;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(3) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(4) {
    grid-column: span 2;
    grid-row: 3 / span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(4) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(5) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(6) {
    grid-column: span 1;
    grid-row: span 2;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(6) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(7) {
    grid-column: span 1;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(7) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(8) {
    grid-column: 3 / span 1;
    grid-row: span 2;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(8) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(9) {
    grid-column: span 2;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(9) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(10) {
    grid-column: span 2;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(10) img {
    width: 100%;
    height: auto;
}

.item-grille:nth-child(11) {
    grid-column: 5 /span 1;
    grid-row: span 1;
    background-size: cover;
    background-position: center;
}

.item-grille:nth-child(11) img {
    width: 100%;
    height: auto;
}


